<h2>Personal pronouns training</h2>
<mat-expansion-panel class="control-panel">
  <mat-expansion-panel-header>
    <mat-panel-title style="padding-top: 10px">
      Current lesson contains {{pronouns ? pronouns.length : 0}} pronouns
    </mat-panel-title>
    <mat-panel-description class="panel-description">
      <button mat-stroked-button color="primary" (click)="setCommandToClear()" class="command-button">Clear</button>
      <button mat-stroked-button color="primary" (click)="setCommandToCheck()" class="command-button">Check</button>
      <button mat-stroked-button color="primary" (click)="setCommandToReveal()" class="command-button">Reveal</button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <div class="languages-radio-group">
      <label id="radio-group-label">Translation language</label>
      <mat-radio-group aria-labelledby="radio-group-label" [(ngModel)]="translationLanguage">
        <mat-radio-button class="language-radio-button" (change)="setEnglishLanguage()" [value]="0">English</mat-radio-button>
        <mat-radio-button class="language-radio-button" (change)="setPolishLanguage()" [value]="1">Polish</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</mat-expansion-panel>
<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <span class="foreign-translation">Translation</span>
  <span class="infinitive">Nominative</span>
  <span class="presentSimple">Genitive</span>
  <span class="pastSimple">Accusative</span>
  <span class="pastParticiple">Dative</span>
  <app-training-row *ngFor="let pronoun of pronouns" [command]="command" [trainingRowModel]="pronoun"></app-training-row>
</div>
