.icons-span {
  font-size: 0.75em;
}

.mat-icon {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

.INCORRECT {
  color: #de3535;
}

.CORRECT {
  color: #06b006;
}

.UNCERTAIN {
  color: #406ee3;
}


