.icons-span {
  font-size: 0.75em;
}

.mat-icon {
  width: 25px;
  height: 25px;
}

.INCORRECT {
  color: #de3535;
}

.CORRECT {
  color: #06b006;
}

.UNCERTAIN {
  color: #406ee3;
}

.mat-form-field {
  width: 100%;
}

:host ::ng-deep {
    --mdc-filled-text-field-container-color: transparent;
    --mdc-filled-text-field-active-container-color: transparent;
}

.microphone-button {
  z-index: 1000;
  color: #d04444;
}
