<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <input matInput type="text" [(ngModel)]="value" (keyup)="onValueChanged($event)" (dblclick)="onDoubleClick()" autocomplete="off" [disabled]="isReadOnly()" enterkeyhint="done">
  <span matSuffix class="icons-span">
    <ng-container [ngSwitch]="state">
    <mat-icon *ngSwitchCase="'UNCERTAIN'" aria-hidden="true" [ngClass]="state">fiber_manual_record</mat-icon>
    <mat-icon *ngSwitchCase="'CORRECT'" aria-hidden="true" [ngClass]="state">done</mat-icon>
    <mat-icon *ngSwitchCase="'INCORRECT'" aria-hidden="true" [ngClass]="state">clear</mat-icon>
    </ng-container>
  </span>
</mat-form-field>
