<h3>{{ title }}</h3>
<mat-expansion-panel class="control-panel">
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      {{
        languageService.getLabel("lessonSummary") +
        ((verbsConjunctions | async)?.length ?? 0) +
          " " +
          languageService.getLabel("verbs")
      }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <app-command-buttons
      (selectedCommand)="onCommandSelect($event)"
    ></app-command-buttons>
    <app-responsive-button-toggle-group
      [title]="languageService.getLabel('levelChoose')"
      [options]="difficultyLevelOptions"
      [(model)]="difficultyLevel"
      (selectOption)="loadVerbsConjunctions()"
    ></app-responsive-button-toggle-group>
    <app-responsive-button-toggle-group
      [title]="languageService.getLabel('show')"
      [options]="filteringCategoryOptions"
      [(model)]="filteringCategory"
      (selectOption)="loadVerbsConjunctions()"
    ></app-responsive-button-toggle-group>
  </div>
</mat-expansion-panel>
<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <app-training-row
    *ngFor="let verbConjunctions of verbsConjunctions | async"
    [command]="command"
    [trainingRowModel]="verbConjunctions"
  ></app-training-row>
</div>
