.control-panel {
  margin-bottom: 40px;
  @media (max-width: 600px) {
    margin-bottom: 0;
  }
}

.languages-radio-group {
  display: flex;
  flex-direction: column;
}

.language-radio-button {
  padding: 5px;
}

.command-button {
  margin-right: 20px;
}

.control-buttons {
  padding-bottom: 20px;
}

.panel-title {
  padding-top: 10px;
}
