.training-row {
  width: 100%;

  .foreign-translation {
    width: 9%;
    padding-right: 1%;
    display: inline-block;
    @media (max-width: 600px) {
      padding-top: 20px;
    }
  }

  .cell {
    padding-right: 1%;
  }

  .check-button {
    color: #ffffff;
    background: #d77d24;
    width: 10%;
    min-width: auto;
    @media (max-width: 600px) {
      width: 99%;
    }
  }
}
