.training-row {
  width: 100%;

  .foreign-translation {
    width: 9%;
    padding-right: 1%;
    display: inline-block;
  }

  .cell {
    padding-right: 1%;
  }

  .check-button {
    color: #ffffff;
    background: #d77d24;
    width: 10%;
  }
}
