<div class="training-row">
  <div class="foreign-translation">{{this.trainingRowModel.getTranslation(languageService.getCurrentLanguage())}}</div>
  <div class="question-cell">
    <app-input-cell *ngIf="trainingRowModel.getAnswer(0)" [command]="cellInputsCommand" [answer]="trainingRowModel.getAnswer(0)" [label]="languageService.getLabel(trainingRowModel.getLabel(0))"></app-input-cell>
  </div>
  <div class="question-cell">
    <app-input-cell *ngIf="trainingRowModel.getAnswer(1)" [command]="cellInputsCommand" [answer]="trainingRowModel.getAnswer(1)" [label]="languageService.getLabel(trainingRowModel.getLabel(1))"></app-input-cell>
  </div>
  <div class="question-cell">
    <app-input-cell *ngIf="trainingRowModel.getAnswer(2)" [command]="cellInputsCommand" [answer]="trainingRowModel.getAnswer(2)" [label]="languageService.getLabel(trainingRowModel.getLabel(2))"></app-input-cell>
  </div>
  <div class="question-cell">
    <app-input-cell *ngIf="trainingRowModel.getAnswer(3)" [command]="cellInputsCommand" [answer]="trainingRowModel.getAnswer(3)" [label]="languageService.getLabel(trainingRowModel.getLabel(3))"></app-input-cell>
  </div>
  <div class="check-button-cell">
    <button mat-raised-button (click)="setCommandToCheck()" class="check-button">{{languageService.getLabel('check')}}</button>
  </div>
</div>
