<div class="training-row">
  <div class="foreign-translation">
    {{
    this.trainingRowModel.getTranslation(languageService.getCurrentLanguage())
    }}
  </div>
  <div
    class="question-cell"
    *ngFor="let answer of trainingRowModel.answers; trackBy: trackAnswers"
    [style.width]="cellWidth"
  >
    <app-input-cell
      [command]="cellInputsCommand"
      [answer]="answer.value"
      [label]="languageService.getLabel(answer.name)"
    ></app-input-cell>
  </div>
  <div *ngIf="showButton" class="check-button-cell">
    <button
      mat-raised-button
      (click)="setCommandToCheck()"
      class="check-button"
    >
      {{ languageService.getLabel("check") }}
    </button>
  </div>
</div>
