<mat-action-list>
  <button mat-list-item (click)="navigateToIrregularVerbs()">{{languageService.getLabel('irregularVerbs')}}</button>
  <button mat-list-item (click)="navigateToPersonalPronouns()">{{languageService.getLabel('personalPronouns')}}</button>
  <button mat-list-item (click)="navigateToPossessivePronouns()">{{languageService.getLabel('possessivePronouns')}}</button>
  <button mat-list-item (click)="navigateToVerbConjunctions()">{{languageService.getLabel('verbConjunctions')}}</button>
  <button mat-list-item (click)="navigateToPresentPerfectSentenceComplements()">{{languageService.getLabel('presentPerfectSentenceComplements')}}</button>
  <button mat-list-item (click)="navigateToPastSimpleSentenceComplements()">{{languageService.getLabel('pastSimpleSentenceComplements')}}</button>
</mat-action-list>
