<mat-action-list>
  <button mat-list-item (click)="navigateToIrregularVerbs()">{{languageService.getLabel('irregularVerbs')}}</button>
  <button mat-list-item (click)="navigateToPersonalPronouns()">{{languageService.getLabel('personalPronouns')}}</button>
  <button mat-list-item (click)="navigateToPossessivePronouns()">{{languageService.getLabel('possessivePronouns')}}</button>
  <button mat-list-item (click)="navigateToPresentSimpleVerbConjunctions()">{{languageService.getLabel('presentSimpleVerbConjunctions')}}</button>
  <button mat-list-item (click)="navigateToPastSimpleVerbConjunctions()">{{languageService.getLabel('pastSimpleVerbConjunctions')}}</button>
  <button mat-list-item (click)="navigateToPresentPerfectSentenceComplements()">{{languageService.getLabel('presentPerfectSentenceComplements')}}</button>
  <button mat-list-item (click)="navigateToPastSimpleSentenceComplements()">{{languageService.getLabel('pastSimpleSentenceComplements')}}</button>
  <button mat-list-item (click)="navigateToPresentSimpleSentenceComplements()">{{languageService.getLabel('presentSimpleSentenceComplements')}}</button>
  <button mat-list-item (click)="navigateToNounSentenceComplements()">{{languageService.getLabel('nounSentenceWithDefineArticlesComplements')}}</button>
  <button mat-list-item (click)="navigateToNounsForms()">{{languageService.getLabel('nounsFormsTitle')}}</button>
  <button mat-list-item (click)="navigateToPrepositionsSentenceComplements()">{{languageService.getLabel('prepositionsSentenceComplementTitle')}}</button>
  <button mat-list-item (click)="navigateToPossessivePronounsSentenceComplements()">{{languageService.getLabel('possessivePronounsSentenceComplementTitle')}}</button>
</mat-action-list>
