@media (max-width: 600px) {
  .mat-button-toggle-group {
    display: flex;
    flex-direction: column;
  }
  .mat-button-toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@media (min-width: 600px) {
  .responsive-button-toggle-group {
    display: flex;
    flex-direction: row;
  }

  .responsive-button-toggle-button {
    width: 100%;
  }
}
