.selected {
  color: #f1e30c;
}

.usage-mode-select {
  padding-top: 5px;
  padding-left: 15px;
  border-right: 0;
}

.spliter {
  font-size: 40px;
}

.single {
  color: #ffffff;
}

.unlimited {
  color: #ffffff;
}
