<div class="control-buttons">
  <button mat-flat-button (click)="setCommandToClear()" class="command-button"><mat-icon>clear</mat-icon> {{languageService.getLabel('clear')}}</button>
  <button mat-flat-button (click)="setCommandToCheck()" class="command-button"><mat-icon>check</mat-icon> {{languageService.getLabel('check')}}</button>
  <button mat-flat-button (click)="setCommandToReveal()" class="command-button"><mat-icon>import_contacts</mat-icon> {{languageService.getLabel('reveal')}}</button>
</div>
