<h3>Pronunciation tips</h3>
<table class="content-table">
  <tr class="row">
    <td class="text">ö</td>
    <td class="sound">między "o" a "e"</td>
    <td class="example">Öl</td>
  </tr>
  <tr class="row">
    <td class="text">ü</td>
    <td class="sound">między "u" a "i"</td>
    <td class="example">müde, Mutter</td>
  </tr>
  <tr class="row">
    <td class="text">ä</td>
    <td class="sound">"e"</td>
    <td class="example">Bär</td>
  </tr>
  <tr class="row">
    <td class="text">ei</td>
    <td class="sound">"aj"</td>
    <td class="example">reisen</td>
  </tr>
  <tr class="row">
    <td class="text">äu</td>
    <td class="sound">"oj"</td>
    <td class="example">Mäuse</td>
  </tr>
  <tr class="row">
    <td class="text">eu</td>
    <td class="sound">"oj"</td>
    <td class="example">Beutel</td>
  </tr>
  <tr class="row">
    <td class="text">ie</td>
    <td class="sound">długie "i"</td>
    <td class="example">Liebe</td>
  </tr>
  <tr class="row">
    <td class="text">c, ck</td>
    <td class="sound">"k"</td>
    <td class="example">Cream, Zucker</td>
  </tr>
  <tr class="row">
    <td class="text">ß, ss</td>
    <td class="sound">"s"</td>
    <td class="example">weiß, Wasser</td>
  </tr>
  <tr class="row">
    <td class="text">s</td>
    <td class="sound">"z"</td>
    <td class="example">Sache</td>
  </tr>
  <tr class="row">
    <td class="text">sch</td>
    <td class="sound">"sz"</td>
    <td class="example">Schule</td>
  </tr>
  <tr class="row">
    <td class="text">sp</td>
    <td class="sound">"szp"</td>
    <td class="example">Sport</td>
  </tr>
  <tr class="row">
    <td class="text">st</td>
    <td class="sound">"szt"</td>
    <td class="example">Student</td>
  </tr>
  <tr class="row">
    <td class="text">tsch</td>
    <td class="sound">"cz"</td>
    <td class="example">deutsch</td>
  </tr>
  <tr class="row">
    <td class="text">z, tz</td>
    <td class="sound">"c"</td>
    <td class="example">Zahn, Katze</td>
  </tr>
  <tr class="row">
    <td class="text">ph, v</td>
    <td class="sound">"f"</td>
    <td class="example">Phote, Vater</td>
  </tr>
  <tr class="row">
    <td class="text">v (w wyrazach obcych)</td>
    <td class="sound">"w"</td>
    <td class="example">Vase</td>
  </tr>
  <tr class="row">
    <td class="text">qu</td>
    <td class="sound">"kw"</td>
    <td class="example">Quadrat</td>
  </tr>
  <tr class="row">
    <td class="text">rz</td>
    <td class="sound">"rc"</td>
    <td class="example">schwarz</td>
  </tr>
  <tr class="row">
    <td class="text">er (na końcu wyrazy)</td>
    <td class="sound">między "e" a "a"</td>
    <td class="example">Mutter</td>
  </tr>
  <tr class="row">
    <td class="text">ch (po a, o, u i au)</td>
    <td class="sound">"h"</td>
    <td class="example">Kochen</td>
  </tr>
  <tr class="row">
    <td class="text">ch (po e, ä, ö, ei, ai, eu, äu, l, r, n, oraz w chen)</td>
    <td class="sound">"ś"</td>
    <td class="example">gleich</td>
  </tr>
  <tr class="row">
    <td class="text">h (przed l, m, n, r, po spółgłoskach)</td>
    <td class="sound">nieme</td>
    <td class="example">Jahr, Kuh</td>
  </tr>
  <tr class="row">
    <td class="text">ch (w wyrazach greckich)</td>
    <td class="sound">"k"</td>
    <td class="example">Charakter</td>
  </tr>
  <tr class="row">
    <td class="text">chs</td>
    <td class="sound">"ks"</td>
    <td class="example">wachsen</td>
  </tr>
  <tr class="row">
    <td class="text">kk, mm, pp, ll ...</td>
    <td class="sound">"k", "m", "p", "l"</td>
    <td class="example">kommen</td>
  </tr>
</table>
