.content-table {
    width: 50%;
    border-collapse: collapse;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.row {
    border-bottom: 1px dashed #000;
}

.example, .sound, .text {
    padding-top: 10px;
}
